@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family:  poppins,sans-serif;
  background-color: #e7e7e7;
}
header{
  width: 100%;
  background-color: #203047;
  height: 70px;
  display: flex; 
  flex-direction: row;
  flex: 1;
  color: #ffff;
}

h1{
  color:#fff;
}
h1 span{
  color:#f5d01f;
}
h2{
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: normal;
}
img{
  margin-top: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  right: 10px;
}
.name{
  font-size: 16px;
  display: flex;
  justify-content: flex-end; 
}
.msg{
  font-size: 12px;  
  display: flex;
  justify-content: flex-end; 
}
.name-msg{
  position: relative;
  left: 70%;
}

#inspirar{/*section1*/
  margin-top: 50px;
}

.inspirar-bloco{
  
  text-align: center;
  display: flex;
  justify-content:space-around;
  border: 3px solid yellow;
  padding: 0px 15px;
}

.bloco{
  list-style-type: none;
  background: #203047;
  color: #ffff;
  border-radius: 8px;
  display: inline-block;
  height: 140px;
  width: 44%;
  text-align:left;
  padding: 20px 14px;
  border: 1px solid rgb(255, 47, 227);  
  padding-top: 5px;
  padding-bottom: 25px;
  margin: 0 30px;
}
.paragrafo-maior{
  font-size: 18px;
  padding:0 10px;
  border: 1px solid greenyellow;
}
.paragrafo-menor{
  font-size: 14px;
  margin-bottom: 100px;
  border: 1px solid red;
}

#tarefas{/*section2*/
  margin-left: 5px; 
}
input{
  width: 70%;
  border-radius: 5px;
  line-height: 5px;
  height:30px;
  border: transparent;
}

button{
  background:  #f5d01f;
  border-radius: 5px;
  line-height: 5px;
  height:35px;
  width: 10%;
  border: transparent;
}

 


